body {
	background-color: #101018;
	max-width: 650px;
	margin: 40px auto;
	}
	
h1 {
	font-family: sans-serif;
	color: #eeeeee;
	text-align: center;
	}

p {
	font-family: sans-serif;
	color: #eeeeee;
	text-align: center;
}

a:link {
	color: #1050a8;
}

a:visited {
	color: #103098;
}

a:hover {
	color: #103098;
}

a:active {
	color: #103098;
}
